{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-var": 2,
    "prefer-const": 2,
    "no-undef": 2,
    "no-param-reassign": 2,
    "immutable/no-let": 2,
    "immutable/no-this": 2,
    "immutable/no-mutation": 2
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "immutable"
]
}